body{
    text-align: center;
}
h1{
    text-align: left;
    font-size: 40px;
}
h2{
    display: inline;
    font-size: 50px;
}
.same{
    color: blue;
}
hr{
    margin: 100px 100px 100px;
}
.btn{
   
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    color: white;
}

#run{
    background-color: darkorange
}
#reset{
    background-color: blue;
    
}

